@font-face {
	font-family: Gumela;
	src: url(../src/fonts/Gumela\ Regular.otf);
}

html,
body {
	font-family: Gumela, sans-serif;
	font-size: 20px;
	font-weight: normal;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
  height: 90vh;
  object-fit: cover;
}

.login {
	width: 90vw;
	height: 90vh;
	display: flex;
  gap: 10px;
	margin: auto;
  margin-top: 5vh;
}

.content-slide {
	width: 40%;
}

.content-form {
	width: 60%;
  height: 100%;
	display: flex;
	justify-content: center;
	background-color: hsl(205, 33%, 93%);
  text-align: center;
}

.formulario{
  width: 50%;
  height: 100%;
  /* border: 1px solid #000; */
}